.sidebar-nav,
.sidebar-overview-active,
.footer,
.archive .collection-title {
  display: none !important;
}
.sidebar-nav-active .sidebar-panel-container {
  padding-top: 0;
}
.post-toc .nav .active > a,
.post a:visited,
.post a:link {
  color: #33AC60;
  border-color: #33AC60;
}
.post a:hover {
  color: #990000;
  border-color: #990000;
}
.menu-item a.menu-item-active,
code {
  background-color: #e2f3e7;
  color: #33AC60;
}
.menu-item a:hover {
  background-color: #e2f3e7;
}
.posts-collapse .post-content .post-header:hover {
  border-bottom: dashed 1px #33AC60;
  background-color: #e2f3e7;
}
.collection-year {
  color: #33AC60;
}
.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-title {
    flex-grow: 1;
}
a.post-title-link {
    width: 100%;
    display: inline-block;
}
